body {
  background-color: #002621;
  font-family: "Helvetica Neue";
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 500px) {
}
body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.c-box {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 31, 21);
}
.c-container {
  position: relative;
  width: 100%;
  height: 80%;
  padding: 2.5rem 3rem;
  margin-right: 50px;
}
.c-text {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-tit {
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.c-p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  color: #d5d5d5;
}
.c-span {
  color: #bcff9d;
  font-weight: 700;
}
hr {
  border: 1px solid;
}

.box {
  display: flex;
  width: 90%;
  margin: 0rem 0rem 0rem 0rem;
}
.box-wrap {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  padding: 3rem 2rem 3rem;
  margin: 0rem 0rem 0rem 9rem;
}
.box-p {
  font-size: 1rem;
  right: 3%;
  position: fixed;
}
.box-a {
  color: #6de7b4;
  cursor: pointer;
  outline: none;
  text-decoration: underline;
  transition: all 0.2s;
  margin-left: 0.5rem;
}
.box-a:hover {
  color: #ffc49d;
}
.form {
  position: absolute;
  left: 25%;
  top: 20%;
  width: 50rem;
}
.form h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.form p {
  color: #d5d5d5;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  margin: bottom 3.5rem;
  width: 100%;
}
.lab {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 3rem 0rem 1rem 0rem;
}
.form-control {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.6rem;
  color: #fff;
  height: 3rem;
  outline: none;
  padding: 0 1rem;
  width: 100%;
  font-size: 1rem;
}
.inbox {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.8rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 0.8rem;
  outline: none;
  text-align: center;
}
.button {
  width: 13rem;
  height: 3rem;
  background: rgb(109, 231, 180);
  border-radius: 0.6rem;
  outline: none;
  border: none;
  transition: all 0.2s ease 0s;
  font-size: 1rem;
  color: rgb(0, 7, 31);
  font-weight: 700;
  margin: 7rem 25rem 0rem 7rem;
  padding: 0px 0rem;
}
.button:hover {
  background: #fed0b7;
}
.butt {
  width: 11rem;
  height: 3rem;
  background: rgb(109, 231, 180);
  border-radius: 0.6rem;
  outline: none;
  border: none;
  transition: all 0.2s ease 0s;
  font-size: 1rem;
  color: rgb(0, 7, 31);
  font-weight: 700;
  margin: 7rem 25rem 0rem 0rem;
}
.butt:disabled {
  opacity: 0.5;
}
.butt:hover:enabled {
  background: #fed0b7;
}

.for-btn {
  outline: none;
  transition: all 0.2s ease 0s;
  font-size: 1rem;
  color: rgb(213, 213, 213);
  font-weight: 300;
  margin: 2rem 0rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background: transparent;
  border: none;
}

.for-btn:hover {
  color: #6de7b4;
}
.wrapper {
  align-items: center;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40rem 0rem 0rem 0rem;
  width: 100%;
}
.key-container {
  width: 23rem;
  z-index: 2;
}
.key-holder {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0rem;
  background-color: transparent;
  border-radius: 0rem;
  position: relative;
}

.keypad {
  background: #2e6150;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 0.6rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  height: 4rem;
  margin: 0.5rem;
  outline: none;
  transition: all 0.2s;
  width: 4rem;
}
.keyhold {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
  background-color: transparent;
  border-radius: 0rem;

  position: relative;
}
.delete {
  background: #ff0062;
  color: #fff;
  font-size: 1rem;
  height: 3rem;
  width: 9rem;
  border-radius: 0.6rem;
  margin: 0.5rem;
  transition: all 0.2s;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
}
.clear {
  background: transparent;
  border: 1px solid #ff0062;
  font-size: 1rem;
  height: 3rem;
  margin-left: 0.5rem;
  width: 9rem;
  color: #fff;
  border-radius: 0.6rem;
  transition: all 0.2s;
}
.refresh-btn {
  background: transparent;
  border: 1px solid #fed0b7;
  color: #fed0b7;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 0.6rem;
  font-size: 2.5rem;
  font-weight: 700;
  height: 4rem;
  margin: 0.5rem;
  outline: none;
  transition: all 0.2s;
  width: 4rem;
}
.svg {
  overflow: hidden;
  vertical-align: middle;
}
.refresh-btn:hover {
  background: #fed0b7;
  color: #000;
}
.delete:hover {
  background: #002616;
}
.bubble {
  bottom: 0;
  position: fixed;
  right: 0;
}
.advert {
  height: 140px;
  padding: 1rem;
  position: relative;
  width: 100%;
  top: 80%;
  background: rgb(248, 240, 240);
  color: #002616;
  border-radius: 0.6rem;
}
.advert-p {
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.advert-button {
  width: 7rem;
  height: 2rem;
  background: rgb(255, 204, 185);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 2.3rem 0rem 0rem;
}
.divback {
  position: absolute;
  right: 0;
  bottom: 0;
}
.form-grouper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.status-container {
  margin-top: 3rem;
}
.status {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  width: 100%;
}
.status-holder {
  width: 10rem;
  height: 2rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  margin: 0.8rem 0.7rem 0.7rem 0rem;
  border: 1px solid rgb(128, 221, 224);
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.status-line {
  width: 100%;
  margin-top: 2rem;
  border: 1px solid rgb(36, 115, 115);
}

@media screen and (max-width: 768px) {
  .box-wrap {
    padding: 0;
    margin: 0;
  }
  .bubble {
    display: none;
  }
  img {
    width: 20px;
    margin: 0.5rem;
  }
  .c-tit {
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
  }
  .container {
    flex-direction: column-reverse;
  }

  .c-box {
    position: fixed;
    height: 20%;
    width: 100%;
  }
  .c-text {
    top: 10%;
    left: 10%;
    width: 100%;
  }
  .c-p {
    font-size: 0.6rem;
    margin-bottom: 0rem;
  }
  .c-container {
    padding: 0;
    margin: 0;
  }
  hr {
    border: none;
  }
  .box-p {
    font-size: 0.5rem;
    position: fixed;
    z-index: 99;
    top: 2%;
    right: 3%;
  }
  .box-a {
    margin-left: 0.2rem;
  }
  .form {
    width: auto;
    left: 10%;
    top: 28%;
  }
  .form h1 {
    font-size: 1rem;
    font-weight: 500;
  }
  .form-control {
    font-size: 0.7rem;
    padding: 0 0.5rem;
    height: 2.2rem;
  }
  .form p {
    font-size: 0.6rem;
    margin: 0;
  }
  .lab {
    font-size: 0.7rem;
    font-weight: 400;
    margin: 1rem 0rem 0.5rem 0rem;
  }
  .inbox {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
  }
  .for-btn {
    font-size: 0.7rem;
    margin: 0.8rem 0;
    display: none;
  }
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: -65vw;
    left: 6%;
  }
  .button {
    font-size: 0.7rem;
    margin: 1rem 10rem;
    width: 7rem;
    height: 2rem;
  }
  .keypad {
    font-size: 0.8rem;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.3rem;
  }
  .refresh-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  .delete {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.7rem;
  }
  .clear {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.7rem;
  }
  .advert {
    display: none;
  }
  .status {
    width: 500px;
  }
  .status-holder {
    width: 6rem;
    height: 0rem;
    font-size: 0.6rem;
    padding: 0.8rem;
  }
  .key-container {
    position: relative;
    z-index: 1;

    margin: 7vmax auto;
  }
  .status-container {
    margin: 0rem;
  }
  .status-line {
    width: 107%;
  }
  .butt {
    margin: 2rem 0;
    font-size: 0.7rem;
    width: 7rem;
    height: 2rem;
  }
}

@media screen and (max-width: 414px) {
  .key-container {
    margin: 9vmax auto;
    right: 0.8rem;
  }
}
@media screen and (max-width: 393px) {
  .key-container {
    margin: 7vmax auto;
    right: 0.2rem;
  }
}
@media screen and (max-width: 375px) {
  .key-container {
    margin: 1.1vmax auto;
    right: -0.5rem;
  }
}
